/* Write your CSS here */
.container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #2d3a35;
}

.paragraph {
  font-size: 20px;
  color: #2d3a35;
  font-weight: bold;
}
.span {
  color: #c20a72;
}
.button {
  background-color: #007bff;
  font-size: 8px;
  color: #ffffff;
  border-radius: 2px;
  padding: 2px;
}
